.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container {
    flex: 1;
    text-align: center;
}
.image-container img {
    max-width: 100%;
    height: auto;
}
.details-container {
    flex: 1;
    padding: 20px;
}
.purchase-options {
    margin-top: 40px;
    background-color: #F7F9FC;
}
.purchase-options label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
.purchase-options input[type="radio"] {
    margin-right: 5px;
}
.add-to-basket {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1E4B3D;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    width: 100%;
}
.add-to-basket:hover {
    background-color: #133027;
}